h2 {
  text-align: center;
}

#markInfo {
  background-color: #FFFFCC;
  height: 540px;
}

.markInfoBox {
  border: 1px solid #d3d3d3;
}

.glyphicon-remove {
    min-height:  20px;
    line-height: 20px;
    padding-top: 7px;
    display: inline-block;
}

#imgTest {
  max-width: 40px;
}

#login {
  background-image: url("https://cdn0.vox-cdn.com/uploads/chorus_asset/file/3351094/Financial_District_La_Salle_and_Monroe_1912.0.jpg");
  height:800px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f9d77e;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // text-align: center;
}
