<div ng-hide="authCtrl.AuthData" id="login" md-theme="default" layout="row">
  <div flex="20"></div>

  <md-content layout-padding layout-align="center center" flex="60">
    <h2>Open Streets Nashville</h2>
    <div layout="row">

    <div flex="45">
      <form name="loginForm">
        <h4 class="md-title">Log In</h4>
        <md-input-container class="md-block">
          <!-- <label>Email</label> -->
          <input required type="email" ng-model="authCtrl.email" placeholder="Email">
        </md-input-container>
        <md-input-container class="md-block">
          <!-- <label>Password</label> -->
          <input required type="password" ng-model="authCtrl.password" placeholder="Password">
<!--           <div ng-messages="loginForm.password.$error">
            <div ng-message="required">This is required.</div>
          </div> -->
        </md-input-container>
        <div layout="row">
          <md-button ng-click="authCtrl.AuthLogin()" ng-disabled="loginForm.$invalid" layout layout-align="center center">Login</md-button>
        </div>
      </form>
    </div>

    <div flex="10"></div>

    <div flex="45">
      <form name="registerForm">
        <h4 class="md-title">Sign Up</h4>
        <md-input-container class="md-block">
            <!-- <label>Email</label> -->
          <input required type="email" ng-model="authCtrl.emailrg" placeholder="Email">
        </md-input-container>
        <md-input-container class="md-block">
          <!-- <label>Password</label> -->
          <input required type="password" ng-model="authCtrl.passwordrg" placeholder="Password">
<!--           <div ng-messages="registerForm.password.$error">
            <div ng-message="required">This is required.</div>
          </div> -->
        </md-input-container>
        <div layout="row">
          <md-button ng-click="authCtrl.AuthRegister()" ng-disabled="registerForm.$invalid" layout layout-align="center center">Register</md-button>
        </div>
      </form>
    </div>

    </div>
  </md-content>

  <div flex="20"></div>
</div>


