<div ng-controller="MapCtrl as mapCtrl">

<!-- NAV BAR -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Open Maps Nashville</span>
      </h2>
      <span flex></span>
      <!-- <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
        Toggle right
      </md-button> -->
      <md-button aria-label="Add Marker" ng-click='mapCtrl.clickMark()'>
        Add Marker
      </md-button>
      <md-button aria-label="Mark Current Location" ng-hide='btn' ng-click='mapCtrl.geolocate()'>
        Add Current Location
      </md-button>
      <div ng-controller="AuthCtrl as authCtrl">
        <md-button aria-label="Log Out" ng-click="authCtrl.AuthLogout()">
          Log Out
        </md-button>
      </div>
    </div>
  </md-toolbar>

<div layout="row">
<!-- MAP INSTANCE -->
  <div flex="100" layout-align="center center">
  <leaflet event-broadcast='events' controls='controls' lf-center="center" url-hash-center="yes" markers="userMarks" layers="layers" height="500px"></leaflet>
  </div>

<!-- FOR NO MARK CHOOSEN -->


<!--   <md-content layout-padding layout-align="center center" class="markInfoBox" flex="25" ng-show="markDataInFocus.editable===undefined" ng-show="welcome">
    <div ng-show="welcome">
      <p>Welcome!</p>
      <p> Click the Circles for Barrier Information</p>
      <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-primary">
            Toggle right
      </md-button>
    </div>
  </md-content> -->


<!-- SIDENAV -->

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">


    <!-- FROM USER MARK'S -->
    <md-toolbar class="md-theme-light" ng-show="markDataInFocus.editable">
      <h1 class="md-toolbar-tools">{{markDataInFocus.name}}</h1>
    </md-toolbar>


    <md-content ng-controller="RightCtrl" layout-padding ng-show="markDataInFocus.editable">

      <md-card ng-show="markDataInFocus.recordComplete">
        <img ng-src="{{markDataInFocus.images}}" ng-show="markDataInFocus.images" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{markDataInFocus.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{markDataInFocus.description}}
          </p>
        </md-card-content>
      </md-card>

      <!-- EDIT CARD INFORMATION FORM -->

      <form ng-show="!markDataInFocus.recordComplete">
        <md-input-container class="md-block">
          <label>Location</label>
          <input class="form-control" type="text" ng-model="markDataInFocus.name" />
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <input class="form-control" type="text" ng-model="markDataInFocus.description" />
        </md-input-container>
        <md-input-container class="md-block">
<!--           <img ng-src="{{markDataInFocus.images}}" ng-show="markDataInFocus.images" width="200" height="200"/> -->
          <input ng-model="file" id="inputFileToLoad" type="file" aria-label="image-upload" required>
          <md-button class="md-raised md-primary" ng-click="mapCtrl.encodeImageFileAsURL();">save image</md-button>
        </md-input-container>
        <md-button class="md-raised" ng-click="mapCtrl.saveBtn()">Save Mark Information</md-button>

        <span ng-click='mapCtrl.deleteMark(markDataInFocus.$id)'><md-button ng-click="close()" class="md-primary">Delete Mark!</md-button></span>
      </form>
    </md-content>

    <!-- FROM OTHER USER MARK'S -->
    <md-toolbar class="md-theme-light" ng-show="!markDataInFocus.editable">
      <h1 class="md-toolbar-tools">{{markDataInFocus.name}}</h1>
    </md-toolbar>

    <md-card ng-controller="RightCtrl" ng-show="!markDataInFocus.editable">
        <img ng-src="{{markDataInFocus.images}}" ng-show="markDataInFocus.images" class="md-card-image" alt="mark-image">
 <!--        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
          </md-card-title-text>
        </md-card-title> -->
        <md-card-content>
          <p>
            Description: {{markDataInFocus.description}}
          </p>
        </md-card-content>
      </md-card>

    <!-- <md-content ng-controller="RightCtrl" layout-padding ng-show="!markDataInFocus.editable"> -->
      <!-- <form> -->
        <!-- <md-input-container class="md-block">
          <label>Location</label>
          <input class="form-control" type="text" ng-model="markDataInFocus.name" />
        </md-input-container> -->
        <!-- <md-input-container class="md-block">
          <label>Description</label>
          <input class="form-control" type="text" ng-model="markDataInFocus.description" />
        </md-input-container>
        <md-input-container class="md-block">
          <img ng-src="{{markDataInFocus.images}}" ng-show="markDataInFocus.images" width="200" height="200"/>
        </md-input-container>
      </form> -->
    <!-- </md-content> -->

  </md-sidenav>



</div> <!-- end of body / layout row declaration -->
</div> <!-- end of map controlled declaration -->
