<div ng-controller="MapCtrl as mapCtrl">

<!-- NAV BAR -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Open Maps Nashville</span>
      </h2>
      <span flex></span>
      <md-button aria-label="Add Marker" ng-click='mapCtrl.clickMark()'>
        Add Marker
      </md-button>
      <md-button aria-label="Mark Current Location" ng-hide='btn' ng-click='mapCtrl.geolocate()'>
        Add Current Location
      </md-button>
      <div ng-controller="AuthCtrl as authCtrl">
        <md-button aria-label="Log Out" ng-click="authCtrl.AuthLogout()">
          Log Out
        </md-button>
      </div>
    </div>
  </md-toolbar>

<div layout="row">
<!-- MAP INSTANCE -->
  <div flex="75" layout-align="center center">
  <leaflet event-broadcast='events' controls='controls' lf-center="center" url-hash-center="yes" markers="userMarks" layers="layers" height="500px"></leaflet>
  </div>
<!-- FOR USER'S MARKS -->
  <md-content layout-padding layout-align="center center" ng-show="markDataInFocus.editable" flex="25" class="markInfoBox">
    <h4 class="md-title">Your Mark</h4>
    <span ng-click='mapCtrl.deleteMark(markDataInFocus.$id)'>X</span>
    <md-input-container class="md-block">
      <label>Location</label>
      <input class="form-control" type="text" ng-model="markDataInFocus.name" />
    </md-input-container>
    <md-input-container class="md-block">
      <label>Description</label>
      <input class="form-control" type="text" ng-model="markDataInFocus.description" disabled />
    </md-input-container>
    <md-input-container class="md-block">
      <img ng-src="{{markDataInFocus.images}}" ng-show="markDataInFocus.images" width="200" height="200"/>

      <input ng-model="file" id="inputFileToLoad" type="file" required>
      <md-button class="md-raised md-primary" ng-click="mapCtrl.encodeImageFileAsURL();">save image</md-button>
    </md-input-container>

    <md-button class="md-raised" ng-click="mapCtrl.saveBtn()">Save Mark Information</md-button>
  </md-content>

<!-- FOR OTHER MARKS -->
  <md-content layout-padding layout-align="center center" ng-show="markDataInFocus.editable===false" class="markInfoBox" flex="25">
    <h4>Others' Mark</h4>
    <md-input-container class="md-block">
      <label>Location</label>
      <input class="form-control" type="text" ng-model="markDataInFocus.name" disabled />
    </md-input-container>
    <md-input-container class="md-block">
      <label>Description</label>
      <input class="form-control" type="text" ng-model="markDataInFocus.description" disabled />
    </md-input-container>
    <div>
      <label>Votes</label>
        <button type="button" ng-click="mapCtrl.upVote(markDataInFocus.$id)" data-loading-text=" ... "> 0</button>
        <button type="button" ng-click"mapCtrl.downVote()" data-loading-text=" ... "> 0</button>
    </div>
    <div>
      <img ng-src="{{markDataInFocus.images}}" ng-show="markDataInFocus.images" width="200" height="200"/>
    </div>
  </md-content>

<!-- FOR NO MARK CHOOSEN -->
  <md-content layout-padding layout-align="center center" class="markInfoBox" flex="25" ng-show="markDataInFocus.editable===undefined" ng-show="welcome">
    <div ng-show="welcome">
      <p>Welcome!</p>
      <p> Click the Circles for Barrier Information</p>
    </div>
  </md-content>

</div>

</div>
